In [1]:
Tup1=(3,5,9,10)

In [3]:
Tup2=10,20,30,'Hi'

In [4]:
Tup3=tuple([1,2,5,7])

In [5]:
print(Tup1)

(3, 5, 9, 10)

In [6]:
print(Tup1)
print(type(Tup1))

(3, 5, 9, 10)
<class 'tuple'>

In [7]:
print(Tup2)
print(type(Tup2))

(10, 20, 30, 'Hi')
<class 'tuple'>

In [8]:
print(Tup3)
print(type(Tup3))

(1, 2, 5, 7)
<class 'tuple'>

In [9]:
Tup4=([3,4,5],(1,3,6),"Hello",10.5)
print(Tup4)

([3, 4, 5], (1, 3, 6), 'Hello', 10.5)

In [17]:
Tup4[0][2] = 10
Tup4

([3, 4, 10], (1, 3, 6), 'Hello', 10.5)

In [19]:

Tup4[1][1] = 100
Tup4

TypeError: 'tuple' object does not support item assignment

In [21]:
Tup4.index('Hello')

2

In [23]:
Tup5 = (10,20,1,10,10,30,10)
Tup5.count(10)

4

In [26]:
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [28]:
d2 = dict(A=10, B=20, C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [32]:
d3 = dict([("x", 1), ("y", 2), ("z", 3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [34]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [36]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [38]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [40]:
scores = {'Virat':30, 'Shreyas':95, 'Rahul':75, 'Nitish':50, 'Jadeja':61, 'Dhoni':80, 'Rohith':45}
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 75,
 'Nitish': 50,
 'Jadeja': 61,
 'Dhoni': 80,
 'Rohith': 45}

In [42]:
scores["Shreyas"] = 95
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 75,
 'Nitish': 50,
 'Jadeja': 61,
 'Dhoni': 80,
 'Rohith': 45}

In [44]:
scores.update({"Jadeja":50})
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 75,
 'Nitish': 50,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45}

In [46]:
scores.update({"Nitish":65, "Rahane":53})
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 75,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 53}

In [48]:
scores.update({"Rahul":80, "Rahane":60})
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 80,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 60}

In [50]:
scores.setdefault("Rahul",60)
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 80,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 60}

In [52]:
scores.setdefault("Pujara",50)
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 80,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 60,
 'Pujara': 50}

In [54]:
scores.popitem()
scores

{'Virat': 30,
 'Shreyas': 95,
 'Rahul': 80,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 60}

In [56]:
scores.pop("Virat")
scores

{'Shreyas': 95,
 'Rahul': 80,
 'Nitish': 65,
 'Jadeja': 50,
 'Dhoni': 80,
 'Rohith': 45,
 'Rahane': 60}

In [60]:
scores.get("Rohith")

45

In [64]:
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [68]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}